{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.organizationResourceStrings.TXT_DELETE_SERVICE_TITLE}}{% endblock %}

{% block content %}
    <p>{{g.organizationResourceStrings.TXT_CONFIRM_DELETE_SERVICE % service.name}}</p>
    <form method="post">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <input type="submit"
                       value="{{g.generalResourceStrings.FRM_DELETE}}">
            </div>
        </div>
    </form>

{{ macros.showBacktoServiceListNav() }}
{% endblock %}