{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
    {% if organization == None %}
        {{g.organizationResourceStrings.TXT_ADD_ORGANIZATION_TITLE}}
    {% else %}
        {{g.organizationResourceStrings.TXT_EDIT_ORGANIZATION_TITLE}}
    {% endif %}
{% endblock %}

{% block content %}
{{ macros.organizationForm(organization, orgTypes, organizations) }}

<!-- If the organization has a logo -->
{% if organization.logoPath != None %}
    <!-- Show the organization logo -->
    <div class="row">
        <div class="col">
            <img width="200px" class="rounded mx-auto d-block"
                 src="{{url_for('uploads.getUploadedFile', filename=organization.logoPath)}}">
        </div>
    </div>
{% endif %}

{{ macros.showBacktoOrganizationListNav() }}
{% endblock %}