{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
    {% if organization == None %}
        {{g.organizationResourceStrings.TXT_ADD_ORGANIZATION_TITLE}}
    {% else %}
        {{g.organizationResourceStrings.TXT_EDIT_ORGANIZATION_TITLE}}
    {% endif %}
{% endblock %}

{% block content %}
{{ macros.organizationForm(organization, orgTypes, organizations) }}

<!-- If the organization has a logo -->
{% if organization.logoPath != '' %}
    <!-- Show the organization logo -->
    <div class="row">
        <img src="{{url_for('uploads.orgLogos', filename=organization.logoPath)}}" class="col">
    </div>
{% endif %}

{{ macros.showBacktoOrganizationListNav() }}
{% endblock %}