<!DOCTYPE html>
<html lang="en">
<head>

    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% endblock %}
</head>
<body>
<ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}

      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>

<div id="header">
    {% block header %}{% endblock %}
</div>

<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    {% block footer %}
        &copy; Copyright 2018 by <a href="http://www.infoera.gr/">MKT</a>.
    {% endblock %}
</div>
  {% for msg in get_flashed_messages() %}
    <div class="flash">{{ msg }}</div>
  {% endfor %}
</body>
</html>