{# Creating a macro (it's like a function) to demonstrate it's use #}


{% macro showBacktoUserListNav() %}
{# macro to show the link that gets the user back to the user list#}
    <a href="{{ url_for('users.userList') }}" class="btn btn-primary">
        {{g.userResourceStrings.TXT_BACK_TO_USER_LIST}} </a>
{% endmacro %}

{% macro showBacktoUserCategoryListNav() %}
{# macro to show the link that gets the user back to the user category list #}
    <a href="{{ url_for('users.userCategories') }}" class="btn btn-primary">
        {{g.userResourceStrings.TXT_BACK_TO_CATEGORY_LIST}} </a>
{% endmacro %}

{% macro showBacktoOrganizationListNav() %}
{# macro to show the link that gets the user back to the organization list #}
    <a href="{{ url_for('org.orgList') }}" class="btn btn-primary">
        {{g.organizationResourceStrings.TXT_BACK_TO_ORGANIZATION_LIST}} </a>
{% endmacro %}

{% macro showBacktoServiceListNav() %}
{# macro to show the link that gets the user back to the organization list #}
    <a href="{{ url_for('org.services') }}" class="btn btn-primary">
        {{g.organizationResourceStrings.TXT_BACK_TO_SERVICE_LIST}} </a>
{% endmacro %}

{% macro serviceForm(service, services, organizations, serviceTypes) %}
{# macro for displaying the service form that is used when inserting or updating services #}
<form method="post">

    <p class="row">
        <label for="id" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_ID}}
        </label>
        <span class="col">
            <input type="text" id="id" name="id" value="{{service.id}}" disabled>
        </span>
    </p>
    <p class="row">
        <label for="name" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_NAME }}
        </label>
        <span class="col">
            <input type="text" id="name" name="name" value="{{service.name}}">
        </span>
    </p>
    <p class="row">
        <label for="address" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_ADDRESS }}
        </label>
        <span class="col">
            <input type="text" id="address" name="address" value="{{service.address}}">
        </span>
    </p>
    <p class="row">
        <label for="chief" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_CHIEF }}
        </label>
        <span class="col">
            <input type="text" id="chief" name="chief" value="{{service.chief}}">
        </span>
    </p>
    <p class="row">
        <label for="phone" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_PHONE }}
        </label>
        <span class="col">
            <input type="text" id="phone" name="phone" value="{{service.phone}}">
        </span>
    </p>
    <p class="row">
        <label for="email" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_EMAIL }}
        </label>
        <span class="col">
            <input type="email" id="email" name="email" value="{{service.email}}">
        </span>
    </p>
    <p class="row">
        <label for="parentServiceId" class="col text-right">
            {{g.organizationResourceStrings.FRM_PARENT_SERVICE }}
        </label>
        <span class="col">
            <select id="parentServiceId" name="parentServiceId">
                <option value="">{{g.organizationResourceStrings.FRM_NO_SERVICE }}</option>
                {% for s in services %}
                    {%if service.parentServiceId == s.id%}
                        <option value="{{s.id}}" selected>{{s.name}} - {{s.organization.name}}</option>
                    {% else %}
                        <option value="{{s.id}}">{{s.name}} - {{s.organization.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </span>
    </p>
    <p class="row">
        <label for="organizationId" class="col text-right">
            {{g.organizationResourceStrings.FRM_ORGANIZATION }}
        </label>
        <span class="col">
            <select id="organizationId" name="organizationId">
                {% for org in organizations %}
                    {% if org.id == service.organizationId%}
                        <option value="{{org.id}}" selected>{{org.name}}</option>
                    {% else %}
                        <option value="{{org.id}}">{{org.name}}</option>
                    {%endif%}
                {%endfor%}
            </select>
        </span>
    </p>
    <p class="row">
        <label for="type" class="col text-right">
            {{g.organizationResourceStrings.FRM_SERVICE_TYPE }}
        </label>
        <span class="col">
            <select id="type" name="type">
                {%for serviceType in serviceTypes %}
                    {% if serviceType.id == service.type %}
                        <option value="{{serviceType.id}}" selected>{{serviceType.name}}</option>
                    {% else %}
                        <option value="{{serviceType.id}}">{{serviceType.name}}</option>
                    {% endif %}
                {%endfor%}
            </select>
        </span>
    </p>
    <div class="row">
        <span class="col d-flex justify-content-center">
            <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
        </span>
    </div>
</form>
{% endmacro %}

{% macro organizationForm(organization, orgTypes, organizations) %}
{# macro for displaying the organization form that is used when inserting or updating organizations #}
 <form method="post" enctype="multipart/form-data">
        <p class="row">
           <label class="col text-right" for="name">{{g.organizationResourceStrings.FRM_ORGANIZATION_NAME}}</label>
            <span class="col"><input type="text" name="name" id="name" value="{{organization.name}}"></span>
        </p>
        <p class="row">
            <label class="col text-right" for="type">{{g.organizationResourceStrings.FRM_ORGANIZATION_TYPE}}</label>
            <span class="col">
                <select id="type" name="type">
                    {% for t in orgTypes %}
                        {%if t.id == organization.type %}
                        <option value="{{ t.id }}" selected>{{ t.name }}</option>
                        {%  else %}
                        <option value="{{ t.id }}">{{ t.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </span>
        </p>
        <p class="row">
            <label class="col text-right" for="ceo">{{g.organizationResourceStrings.FRM_ORGANIZATION_CEO}}</label>
            <span class="col"><input type="text" id="ceo" name="ceo" value="{{organization.ceo}}"></span>
        </p>
        <p class="row">
            <label class="col text-right" for="parentOrganizationId">{{g.organizationResourceStrings.FRM_PARENT_ORGANIZATION}}</label>
            <span class="col">
                <select id="parentOrganizationId" name="parentOrganizationId">
                <option value="">  Κανένας οργανισμός </option>
                {% for org in organizations %}
                {%if org.id == organization.parentOrganizationId%}
                    <option value="{{ org.id }}" selected>{{ org.name }}</option>
                {% else %}
                    <option value="{{ org.id }}">{{ org.name }}</option>
                {% endif %}
                {% endfor %}
                </select>
            </span>
        </p>
        <p class="row">
            <label class="col text-right" for="address">{{g.organizationResourceStrings.FRM_ORGANIZATION_ADDRESS}}</label>
        <span class="col"> <input type="text" id="address" name="address" value="{{organization.address}}"></span>
        </p>
        <p class="row">
            <label class="col text-right" for="phone">{{g.organizationResourceStrings.FRM_ORGANIZATION_PHONE}}</label>
            <span class="col"> <input type="text" id="phone" name="phone" value="{{organization.phone}}"> </span>
        </p>
        <p class="row">
            <label class="col text-right" for="email">{{g.organizationResourceStrings.FRM_ORGANIZATION_EMAIL}}</label>
            <span class="col"> <input type="email" id="email" name="email" value="{{organization.email}}"></span>
        </p>
        <p class="row">
            <label class="col text-right" for="irsNo">{{g.organizationResourceStrings.FRM_ORGANIZATION_IRSNO}}</label>
            <span class="col"> <input type="text" id="irsNo" name="irsNo" value="{{organization.irsNo}}"></span>
        </p>

        <p class="row">
            <label class="col text-right" for="logo">{{g.organizationResourceStrings.FRM_ORGANIZATION_LOGO}}</label>
            <span class="col">
                <input type="file" name="logo" id="logo">
            </span>
        </p>
        <div class="row">
            <span class="col d-flex justify-content-center">
                <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
            </span>
        </div>
    </form>
{% endmacro %}

{% macro userForm(user, userCategories, services) %}
{# macro for displaying the user form that is used when inserting or updating users #}
<form action="#" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="id">{{g.userResourceStrings.FRM_USER_ID}}</label>
            <input id="id" type="text" name="id" value="{{ user.id }}" class="form-control-plaintext" readonly>
        </div>
        <div class="form-group col-md-5">
            <label for="name">{{g.userResourceStrings.FRM_FULL_NAME}}</label>
            <input id="name" type="text" name="name" value="{{ user.name }}" class="form-control" required>
        </div>
        <div class="form-group col-md-5">
            <label for="username">{{g.userResourceStrings.FRM_USERNAME}}</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="service">{{g.userResourceStrings.FRM_DEPARTMENT}}</label>
            <select id="service" name="service" class="custom-select">
                {% for service in services %}
                    {% if service.id == user.serviceId %}
                        <option value="{{service.id}}" selected>
                            {{service.name}} - {{service.organization.name}}
                        </option>
                    {% else %}
                        <option value="{{service.id}}">
                            {{service.name}} - {{service.organization.name}}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="usercategory">{{g.userResourceStrings.FRM_USER_CATEGORY}}</label>
            <span>
            {% if g.user.userCategoryId != 3 %}  <!-- if the user isn't super administrator -->
                <select id="usercategory" name="usercategory" disabled> <!-- disable the category selection -->
            {% else %}
                <select id="usercategory" name="usercategory" class="custom-select">
            {% endif %}
            {%  for cat in userCategories %}
            {% if user.userCategoryId == cat.id%} <!-- select the category of the user -->
                <option value="{{ cat.id }}" selected>{{ cat.name }}</option>
            {% else %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endif %}
            {%  endfor %}
                </select>

            </span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="phone">{{g.userResourceStrings.FRM_PHONE}}</label>
            <input type="tel" id="phone" type="text" name="phone" value="{{ user.phone }}"
                   class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="mobile">{{g.userResourceStrings.FRM_MOBILE}}</label>
            <input id="mobile" type="tel" name="mobile" value="{{ user.mobile }}" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="email">{{g.userResourceStrings.FRM_EMAIL}}</label>
            <input id="email" type="email" name="email" value="{{ user.email }}" class="form-control" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="enabled">{{g.userResourceStrings.FRM_ENABLED}}</label>
            {% if user.enabled == True %} <!-- set the checkbox checked if true -->
                <span class="col">
                    <input id="enabled" type="checkbox" name="enabled"
                           class="form-check-input position-static" checked>
                </span>
            {% else %}
                <span class="col">
                    <input id="enabled" type="checkbox" name="enabled" class="form-check-input position-static">
                </span>
            {% endif %}
        </div>
        <div class="form-group col-md-10">
            <label for="avatar" class="custom-file-label">
                {{g.userResourceStrings.FRM_USER_AVATAR}}
            </label>
            <input id="avatar" name="avatar" type="file" class="custom-file-input">
        </div>


    </div>
     <div class="row">
        <span class="col">


        </span>
    </div>

    {% if user == None %}
    <!-- In case of a new user, show the fields for adding a new password -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">{{g.userResourceStrings.FRM_NEW_PASSWORD}}</label>
            <input id="password" type="password" name="password" class="form-control" required>
        </div>
        <div class="form-group col-md-6">
            <label for="password2">{{g.userResourceStrings.FRM_CONFIRM_NEW_PASSWORD}}</label>
            <input id="password2" type="password" name="password2" class="form-control" required>
        </div>
    </div>

    {% endif %}

    <div class="row">
        <span class="col d-flex justify-content-center">
            <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}"
                   class="btn btn-outline-primary" onclick="validateFormFields(this)">
        </span>
    </div>
</form>
{% if user != None %}
<!-- Show the change password button if the user already exists (edit mode).
Else (new user) show the form fields for storing the new password -->
<div class="row mb-3">
    <div class="col d-flex justify-content-center">
        <form action="{{url_for('users.changeUserPassword', user_id=user.id)}}" method="get"> <!-- Button for changing the user password -->
            <input type="submit" value="{{g.userResourceStrings.FRM_CHANGE_PASSWORD}}" class="btn btn-outline-primary">
        </form>
    </div>
</div>
{% endif %}
{% endmacro %}