{# Creating a macro (it's like a function) to demonstrate it's use #}


{% macro showBacktoUserListNav() %}
{# macro to show the link that gets the user back to the user list#}
    <a href="{{ url_for('users.userList') }}" class="btn btn-primary">
        {{g.userResourceStrings.TXT_BACK_TO_USER_LIST}} </a>
{% endmacro %}

{% macro showBacktoUserCategoryListNav() %}
{# macro to show the link that gets the user back to the user category list #}
    <a href="{{ url_for('users.userCategories') }}" class="btn btn-primary">
        {{g.userResourceStrings.TXT_BACK_TO_CATEGORY_LIST}} </a>
{% endmacro %}

{% macro showBacktoOrganizationListNav() %}
{# macro to show the link that gets the user back to the organization list #}
    <a href="{{ url_for('org.orgList') }}" class="btn btn-primary">
        {{g.organizationResourceStrings.TXT_BACK_TO_ORGANIZATION_LIST}} </a>
{% endmacro %}

{% macro showBacktoActionListNav() %}
{# macro to show the link that gets the user back to the action list #}
    <a href="{{ url_for('actions.actions') }}" class="btn btn-primary">
        {{g.actionResourceStrings.TXT_BACK_TO_ACTION_LIST}} </a>
{% endmacro %}

{% macro showBacktoServiceListNav() %}
{# macro to show the link that gets the user back to the organization list #}
    <a href="{{ url_for('org.services') }}" class="btn btn-primary">
        {{g.organizationResourceStrings.TXT_BACK_TO_SERVICE_LIST}} </a>
{% endmacro %}

{% macro serviceForm(service, services, organizations, serviceTypes) %}
{# macro for displaying the service form that is used when inserting or updating services #}
<form method="post">

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="id">{{g.organizationResourceStrings.FRM_SERVICE_ID}}</label>
            <input type="text" id="id" name="id" value="{{service.id}}" class="form-control-plaintext" readonly>
        </div>

        <div class="form-group col-md-4">
             <label for="name">
                {{g.organizationResourceStrings.FRM_SERVICE_NAME }}
            </label>
            <input type="text" id="name" name="name" value="{{service.name}}" class="form-control">
        </div>

        <div class="form-group col-md-5">
            <label for="type">
                {{g.organizationResourceStrings.FRM_SERVICE_TYPE }}
            </label>
            <select id="type" name="type" class="custom-select">
                {%for serviceType in serviceTypes %}
                    {% if serviceType.id == service.type %}
                        <option value="{{serviceType.id}}" selected>{{serviceType.name}}</option>
                    {% else %}
                        <option value="{{serviceType.id}}">{{serviceType.name}}</option>
                    {% endif %}
                {%endfor%}
            </select>
        </div>

    </div>

    <div class="form-row">
        <div class="form-group col-md-8">
            <label for="address">
                {{g.organizationResourceStrings.FRM_SERVICE_ADDRESS }}
            </label>
            <input type="text" id="address" name="address" value="{{service.address}}" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="chief">
                {{g.organizationResourceStrings.FRM_SERVICE_CHIEF }}
            </label>
            <input type="text" id="chief" name="chief" value="{{service.chief}}" class="form-control">
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="phone">
                {{g.organizationResourceStrings.FRM_SERVICE_PHONE }}
            </label>
            <input type="tel" id="phone" name="phone" value="{{service.phone}}" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="email">
                {{g.organizationResourceStrings.FRM_SERVICE_EMAIL }}
            </label>
            <input type="email" id="email" name="email" value="{{service.email}}" class="form-control">
        </div>
        <div class="form-group col-md-3">
            <label for="parentServiceId">
                {{g.organizationResourceStrings.FRM_PARENT_SERVICE }}
            </label>
            <select id="parentServiceId" name="parentServiceId" class="custom-select">
                <option value="">{{g.organizationResourceStrings.FRM_NO_SERVICE }}</option>
                {% for s in services %}
                    {%if service.parentServiceId == s.id%}
                        <option value="{{s.id}}" selected>{{s.name}} - {{s.organization.name}}</option>
                    {% else %}
                        <option value="{{s.id}}">{{s.name}} - {{s.organization.name}}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="organizationId">
                {{g.organizationResourceStrings.FRM_ORGANIZATION }}
            </label>

            <select id="organizationId" name="organizationId" class="custom-select">
                {% for org in organizations %}
                    {% if org.id == service.organizationId%}
                        <option value="{{org.id}}" selected>{{org.name}}</option>
                    {% else %}
                        <option value="{{org.id}}">{{org.name}}</option>
                    {%endif%}
                {%endfor%}
            </select>

        </div>
    </div>

    <div class="row">
        <span class="col d-flex justify-content-center">
            <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}"
                   class="btn btn-outline-primary" onclick="validateFormFields(this)">
        </span>
    </div>
</form>
{% endmacro %}

{% macro organizationForm(organization, orgTypes, organizations) %}
{# macro for displaying the organization form that is used when inserting or updating organizations #}
 <form method="post" enctype="multipart/form-data">
     <div class="form-row">
        <div class="form-group col">
            <label for="name">{{g.organizationResourceStrings.FRM_ORGANIZATION_NAME}}</label>
            <input id="name" type="text" name="name" value="{{ organization.name }}" class="form-control" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="type">{{g.organizationResourceStrings.FRM_ORGANIZATION_TYPE}}</label>
            <select id="type" name="type" class="custom-select">
                {% for t in orgTypes %}
                    {%if t.id == organization.type %}
                    <option value="{{ t.id }}" selected>{{ t.name }}</option>
                    {%  else %}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>

        <div class="form-group col-md-4">
            <label for="ceo">{{g.organizationResourceStrings.FRM_ORGANIZATION_CEO}}</label>
            <input type="text" id="ceo" name="ceo" value="{{organization.ceo}}" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="parentOrganizationId">{{g.organizationResourceStrings.FRM_PARENT_ORGANIZATION}}</label>
            <select id="parentOrganizationId" name="parentOrganizationId" class="custom-select">
            <option value="">  Κανένας οργανισμός </option>
            {% for org in organizations %}
            {%if org.id == organization.parentOrganizationId%}
                <option value="{{ org.id }}" selected>{{ org.name }}</option>
            {% else %}
                <option value="{{ org.id }}">{{ org.name }}</option>
            {% endif %}
            {% endfor %}
            </select>
        </div>
    </div>

     <div class="form-row">
         <div class="form-group col-md-6">
             <label for="address">{{g.organizationResourceStrings.FRM_ORGANIZATION_ADDRESS}}</label>
            <input class="form-control" type="text" id="address" name="address" value="{{organization.address}}">
         </div>
        <div class="form-group col-md-3">
            <label for="phone">{{g.organizationResourceStrings.FRM_ORGANIZATION_PHONE}}</label>
            <input type="tel" id="phone" name="phone" value="{{organization.phone}}" class="form-control">
        </div>
         <div class="form-group col-md-3">
            <label for="email">{{g.organizationResourceStrings.FRM_ORGANIZATION_EMAIL}}</label>
            <input type="email" id="email" name="email" value="{{organization.email}}" class="form-control">
         </div>
     </div>

     <div class="form-row">
         <div class="form-group col-md-3">
             <label for="irsNo">{{g.organizationResourceStrings.FRM_ORGANIZATION_IRSNO}}</label>
             <input type="text" id="irsNo" name="irsNo" value="{{organization.irsNo}}" class="form-control irs-no">
         </div>
     </div>
     <div class="form-row">
         <div class="form-group col-md-9">
             <label for="logo" class="custom-file-label">{{g.organizationResourceStrings.FRM_ORGANIZATION_LOGO}}</label>
             <input type="file" name="logo" id="logo" class="custom-file-input">
         </div>
     </div>


    <div class="row">
        <span class="col d-flex justify-content-center">
            <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}"
                   class="btn btn-outline-primary" onclick="validateFormFields(this)">
        </span>
    </div>
    </form>
{% endmacro %}

{% macro userForm(user, userCategories, services) %}
{# macro for displaying the user form that is used when inserting or updating users #}
<form action="#" method="post" enctype="multipart/form-data">
    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="id">{{g.userResourceStrings.FRM_USER_ID}}</label>
            <input id="id" type="text" name="id" value="{{ user.id }}" class="form-control-plaintext" readonly>
        </div>
        <div class="form-group col-md-5">
            <label for="name">{{g.userResourceStrings.FRM_FULL_NAME}}</label>
            <input id="name" type="text" name="name" value="{{ user.name }}" class="form-control" required>
        </div>
        <div class="form-group col-md-5">
            <label for="username">{{g.userResourceStrings.FRM_USERNAME}}</label>
            <input type="text" id="username" name="username" value="{{ user.username }}" class="form-control" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="service">{{g.userResourceStrings.FRM_DEPARTMENT}}</label>
            <select id="service" name="service" class="custom-select">
                {% for service in services %}
                    {% if service.id == user.serviceId %}
                        <option value="{{service.id}}" selected>
                            {{service.name}} - {{service.organization.name}}
                        </option>
                    {% else %}
                        <option value="{{service.id}}">
                            {{service.name}} - {{service.organization.name}}
                        </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="usercategory">{{g.userResourceStrings.FRM_USER_CATEGORY}}</label>
            <span>
            {% if g.user.userCategoryId != 3 %}  <!-- if the user isn't super administrator -->
                <select id="usercategory" name="usercategory" disabled> <!-- disable the category selection -->
            {% else %}
                <select id="usercategory" name="usercategory" class="custom-select">
            {% endif %}
            {%  for cat in userCategories %}
            {% if user.userCategoryId == cat.id%} <!-- select the category of the user -->
                <option value="{{ cat.id }}" selected>{{ cat.name }}</option>
            {% else %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endif %}
            {%  endfor %}
                </select>

            </span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="phone">{{g.userResourceStrings.FRM_PHONE}}</label>
            <input type="tel" id="phone" type="text" name="phone" value="{{ user.phone }}"
                   class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="mobile">{{g.userResourceStrings.FRM_MOBILE}}</label>
            <input id="mobile" type="tel" name="mobile" value="{{ user.mobile }}" class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="email">{{g.userResourceStrings.FRM_EMAIL}}</label>
            <input id="email" type="email" name="email" value="{{ user.email }}" class="form-control" required>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="enabled">{{g.userResourceStrings.FRM_ENABLED}}</label>
            {% if user.enabled == True %} <!-- set the checkbox checked if true -->
                <span class="col">
                    <input id="enabled" type="checkbox" name="enabled"
                           class="form-check-input position-static" checked>
                </span>
            {% else %}
                <span class="col">
                    <input id="enabled" type="checkbox" name="enabled" class="form-check-input position-static">
                </span>
            {% endif %}
        </div>
        <div class="form-group col-md-10">
            <label for="avatar" class="custom-file-label">
                {{g.userResourceStrings.FRM_USER_AVATAR}}
            </label>
            <input id="avatar" name="avatar" type="file" class="custom-file-input">
        </div>


    </div>

    {% if user == None %}
    <!-- In case of a new user, show the fields for adding a new password -->
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="password">{{g.userResourceStrings.FRM_NEW_PASSWORD}}</label>
            <input id="password" type="password" name="password" class="form-control" required>
        </div>
        <div class="form-group col-md-6">
            <label for="password2">{{g.userResourceStrings.FRM_CONFIRM_NEW_PASSWORD}}</label>
            <input id="password2" type="password" name="password2" class="form-control" required>
        </div>
    </div>

    {% endif %}

    <div class="row">
        <span class="col d-flex justify-content-center">
            <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}"
                   class="btn btn-outline-primary" onclick="validateFormFields(this)">
        </span>
    </div>
</form>
{% if user != None %}
<!-- Show the change password button if the user already exists (edit mode).
Else (new user) show the form fields for storing the new password -->
<div class="row mb-3">
    <div class="col d-flex justify-content-center">
        <form action="{{url_for('users.changeUserPassword', user_id=user.id)}}" method="get"> <!-- Button for changing the user password -->
            <input type="submit" value="{{g.userResourceStrings.FRM_CHANGE_PASSWORD}}" class="btn btn-outline-primary">
        </form>
    </div>
</div>
{% endif %}
{% endmacro %}

{% macro actionForm(action, services, actionCategories, actionGroups, financingSources) %}
{# macro for displaying the action form that is used when inserting or updating actions #}
<form action="#" method="post" enctype="multipart/form-data"
      ng-app="actionApp" ng-controller="actionCtrl">
<div class="form-row">
        <div class="form-group col-md-2">
            <label for="id">{{g.actionResourceStrings.FRM_ACTION_ID}}</label>
            <input type="text" id="id" name="id" value="{{action.id}}" class="form-control">
        </div>

        <div class="form-group col-md-7">
            <label for="name">{{g.actionResourceStrings.FRM_ACTION_NAME}}</label>
            <input type="text" id="name" name="name" value="{{action.name}}"
                   class="form-control">
        </div>

        <div class="form-group col-md-3">
            <label for="serviceInCharge">{{g.actionResourceStrings.FRM_ACTION_SERVICE_IN_CHARGE}}</label>
            <span>
            <select id="serviceInCharge" name="serviceInCharge" class="custom-select">
                <option>-</option>
            {%  for service in services %}
                {% if action.serviceInChargeId == service.id%} <!-- select the category of the user -->
                    <option value="{{ service.id }}" selected>{{ service.name }}</option>
                {% else %}
                    <option value="{{ service.id }}">{{ service.name }}</option>
                {% endif %}
            {%  endfor %}
            </select>

            </span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-3">
            <label for="implementationService">{{g.actionResourceStrings.FRM_ACTION_IMPLEMENTATION_SERVICE}}</label>
            <span>
            <select id="implementationService" name="implementationService" class="custom-select">
                <option>-</option>
            {%  for service in services %}
                {% if action.ImplementationService == service.id%} <!-- select the category of the user -->
                    <option value="{{ service.id }}" selected>{{ service.name }}</option>
                {% else %}
                    <option value="{{ service.id }}">{{ service.name }}</option>
                {% endif %}
            {%  endfor %}
            </select>

            </span>
        </div>
        <div class="form-group col-md-3">
            <label for="category">{{g.actionResourceStrings.FRM_ACTION_CATEGORY}}</label>

            <span>
            <select id="category" name="category" class="custom-select">
                <option>-</option>
            {%  for actionCategory in actionCategories %}
                {% if action.categoryId == actionCategory.id%} <!-- select the category  -->
                    <option value="{{ actionCategory.id }}" selected>{{ actionCategory.name }}</option>
                {% else %}
                    <option value="{{ actionCategory.id }}">{{ actionCategory.name }}</option>
                {% endif %}
            {%  endfor %}
            </select>
            </span>
        </div>

        <div class="form-group col-md-3">
            <label for="newOrInProgress">{{g.actionResourceStrings.FRM_ACTION_NEW_OR_IN_PROGRESS}}</label>
            <span>
            <select id="newOrInProgress" name="newOrInProgress" class="custom-select">
                <option>-</option>
            {%  for el in g.dropDownLists.newOrInProgress %}
                {% if action.newOrInProgress == el %} <!-- select if new or in progress -->
                    <option value="{{ el }}" selected>{{ el }}</option>
                {% else %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endif %}
            {%  endfor %}
            </select>
            </span>
        </div>

        <div class="form-group col-md-3">
            <label for="priority">{{g.actionResourceStrings.FRM_ACTION_PRIORITY}}</label>
            <span>
            <select id="priority" name="priority" class="custom-select">
                <option>-</option>
            {%  for el in g.dropDownLists.priority %}
                {% if action.priority == el %} <!-- select the priority -->
                    <option value="{{ el }}" selected>{{ el }}</option>
                {% else %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endif %}
            {%  endfor %}
            </select>
            </span>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="groupId">{{g.actionResourceStrings.FRM_ACTION_GROUP}}</label>
            <span>
            <select id="groupId" name="groupId" class="custom-select">
                <option>-</option>
            {%  for group in actionGroups %}
                {% if groupId == group.id %} <!-- select the group -->
                    <option value="{{ group.id }}" selected>{{ group.name }}</option>
                {% else %}
                    <option value="{{ group.id }}">{{ group.name }}</option>
                {% endif %}
            {%  endfor %}
            </select>
            </span>
        </div>

        <div class="form-group col-md-4">
            <label for="budget">{{g.actionResourceStrings.FRM_ACTION_BUDGET}}</label>
            <input type="text" id="budget" name="budget" value="{{action.budget}}"
                   class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="budgetCode">{{g.actionResourceStrings.FRM_ACTION_BUDGET_CODE}}</label>
            <input type="text" id="budgetCode" name="budgetCode" value="{{action.budgetCode}}"
                   class="form-control">
        </div>

         <div class="form-group col-md-4">
            <label for="startDate">{{g.actionResourceStrings.FRM_ACTION_START_DATE}}</label>
            <input type="date" id="startDate" name="startDate" value="{{action.startDate.strftime('%Y-%m-%d')}}"
                   class="form-control">
        </div>

        <div class="form-group col-md-4">
            <label for="endDate">{{g.actionResourceStrings.FRM_ACTION_END_DATE}}</label>
            <input type="date" id="endDate" name="endDate" value="{{action.endDate.strftime('%Y-%m-%d')}}"
                   class="form-control">
        </div>
        <div class="form-group col-md-4">
            <label for="status">{{g.actionResourceStrings.FRM_ACTION_STATUS}}</label>
            <span>
            <select id="status" name="status" class="custom-select">
                <option>-</option>
            {%  for el in g.dropDownLists.status %}
                {% if action.status == el %} <!-- select the group -->
                    <option value="{{ el }}" selected>{{ el }}</option>
                {% else %}
                    <option value="{{ el }}">{{ el }}</option>
                {% endif %}
            {%  endfor %}
            </select>
            </span>
        </div>

    </div>

    <div class="form-row">
        <!-- Sources of financing -->
        <div class="col-md-6">
            <table  class="table table-hover small-text" id="sourcesOfFinanceTb">
                <thead>
                    <tr>
                        <th scope="col">{{g.actionResourceStrings.TXT_ACTION_FINANCING_SOURCE}}</th>
                        <th scope="col">{{g.actionResourceStrings.TXT_ACTION_BUDGET_CODE}}</th>
                        <th scope="col">{{g.actionResourceStrings.TXT_ACTION_AMOUNT}}</th>
                        <th>
                            <a href="javascript:void(0);" style="font-size:18px;" id="addMorefinancingSources" title="Add More Financing Sources">
                                <!-- using Font Awesome for icons -->
                                <i class="fas fa-plus-square"></i>
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                <script>
                    <!-- Show the financing sources table rows -->
                    loadFinancingSourcesTable({{ action.id }});
                </script>
                <!-- for each source of financing for the specific action, show details -->
                <!--
                {% for actionFinancingSource in action.actionFinancingSources %}
                    <tr>
                        <td>
                            <select name="financingSource" class="custom-select financingSource">
                                <option>-</option>
                                {%  for finSource in financingSources %}
                                    {% if finSource.id == actionFinancingSource.financingSourceId %}
                                        <option value="{{ finSource.id }}" selected>{{ finSource.name }}</option>
                                    {% else %}
                                        <option value="{{ finSource.id }}">{{ finSource.name }}</option>
                                    {% endif %}
                                {%  endfor %}
                            </select>

                        </td>
                        <td>
                            <input type="text" name="financingSourceBudgetCode" class="form-control"
                                   value="{{ actionFinancingSource.budgetCode }}">
                        </td>
                        <td>
                            <input type="text" name="financingSourceAmount" class="form-control"
                            value="{{ actionFinancingSource.amount }}">
                        </td>
                        <td><a href='javascript:void(0);'  class='removeFinancingSource'><span class='fas fa-trash'></span></a></td>
                    </tr>
                {% endfor %}
                -->
                </tbody>
            </table>

        </div>
        <div class="col-md-6">Second column</div>
    </div>

    <div class="form">
        <span class="col d-flex justify-content-center">
            <input id="saveActionButton" type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}"
                   class="btn btn-outline-primary">
        </span>
    </div>

</form>
{% endmacro %}