{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{ g.userResourceStrings.TXT_ADD_USER }}{% endblock %}

{% block content %}
    <form action="#" method="post">
        <p class="row">
            <label for="name" class="col text-right">{{g.userResourceStrings.FRM_FULL_NAME}}</label>
            <span class="col"><input id="name" type="text" name="name"></span>
        </p>
        <p class="row">
            <label for="username" class="col text-right">{{g.userResourceStrings.FRM_USERNAME}}</label>
            <span class="col"><input id="username" type="text" name="username"></span>
        </p>
        <p class="row">
            <label for="department" class="col text-right">{{g.userResourceStrings.FRM_DEPARTMENT}}</label>
            <span class="col"><input id="department" type="text" name="department"></span>
        </p>
        <p class="row">
            <label for="usercategory" class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY}}</label>
            <span class="col">
            {% if g.user.userCategoryId != 3 %}  <!-- if the user isn't super administrator -->
                <select id="usercategory" name="usercategory" disabled> <!-- disable the category selection -->
            {% else %}
                <select id="usercategory" name="usercategory">
            {% endif %}
                {%  for cat in userCategories %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                {%  endfor %}
            </select>
            </span>
        </p>
        <p class="row">
            <label for="phone" class="col text-right">{{g.userResourceStrings.FRM_PHONE}}</label>
            <span class="col"><input id="phone" type="text" name="phone"></span>
        </p>
        <p class="row">
            <label for="mobile" class="col text-right">{{g.userResourceStrings.FRM_MOBILE}}</label>
            <span class="col"><input id="mobile" type="text" name="mobile"></span>
        </p>
        <p class="row">
            <label for="email" class="col text-right">{{g.userResourceStrings.FRM_EMAIL}}</label>
            <span class="col "><input id="email" type="text" name="email"></span>
        </p>
        <p class="row">
            <label for="enabled" class="col text-right"> {{g.userResourceStrings.FRM_ENABLED}}</label>
            <span class="col"><input id="enabled" type="checkbox" name="enabled" value="True"></span>
        </p>
        <p class="row">
            <label for="password" class="col text-right">{{g.userResourceStrings.FRM_NEW_PASSWORD}}</label>
            <span class="col"><input id="password" type="password" name="password"></span>
        </p>
        <p class="row">
            <label for="password2" class="col text-right">{{g.userResourceStrings.FRM_CONFIRM_NEW_PASSWORD}}</label>
            <span class="col"><input id="password2" type="password" name="password2"></span>
        </p>
        <div class="row">
                <span class="col d-flex justify-content-center">
                    <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
                </span>
        </div>
    </form>

    {{ macros.showBacktoUserListNav() }}
{% endblock %}