{% extends "base.html" %}
{% block title %}Προσθήκη κατηγορίας χρήστη{% endblock %}
{% block head %}
    {{ super() }}
    <!-- here I can add page-specific resources like css stylesheets -->
{% endblock %}
{% block content %}
    <h1>{{g.userResourceStrings.TXT_ADD_USER_CATEGORY}}</h1>

    <form action="#" method="post">
        <p>{{g.userResourceStrings.FRM_USER_CATEGORY_ID}} <input type="text" name="id"></p>
        <p>{{g.userResourceStrings.FRM_USER_CATEGORY_NAME}} <input type="text" name="name"></p>
        <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
    </form>

    <a href="{{ url_for('users.userCategories') }}"> {{g.userResourceStrings.TXT_BACK_TO_CATEGORY_LIST}} </a>
{% endblock %}