{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.userResourceStrings.TXT_ADD_USER_CATEGORY}}{% endblock %}

{% block content %}

    <form action="#" method="post">
        <p class="row">
            <span class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY_ID}}</span>
            <span class="col"><input type="text" name="id"></span>
        </p>
        <p class="row">
            <span class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY_NAME}}</span>
            <span class="col"><input type="text" name="name"></span>
        </p>
        <div class="row">
            <span class="col d-flex justify-content-center">
                <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
            </span>
        </div>
    </form>

    <a href="{{ url_for('users.userCategories') }}"> {{g.userResourceStrings.TXT_BACK_TO_CATEGORY_LIST}} </a>
{% endblock %}