{% extends "base.html" %}
{% block title %}{{g.userResourceStrings.TXT_CHANGE_USER_PASSWORD_TITLE}}{% endblock %}
{% block head %}
    {{ super() }}
    <!-- here I can add page-specific resources like css stylesheets -->
{% endblock %}
{% block content %}


    <h1>{{g.userResourceStrings.TXT_CHANGE_USER_PASSWORD}} "{{user.name}}"</h1>
    <form action="#" method="post">
        <p>{{g.userResourceStrings.FRM_OLD_PASSWORD}} <input type="password" name="oldpassword"></p>
        <p>{{g.userResourceStrings.FRM_NEW_PASSWORD}} <input type="password" name="newpassword1"></p>
        <p>{{g.userResourceStrings.FRM_CONFIRM_NEW_PASSWORD}} <input type="password" name="newpassword2"></p>
        <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}"> </form>

    <a href="{{ url_for('users.userList') }}"> {{g.userResourceStrings.TXT_BACK_TO_USER_LIST}} </a>
{% endblock %}