{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.userResourceStrings.TXT_CHANGE_USER_PASSWORD_TITLE}}{% endblock %}
{% block content %}


    <h2>{{g.userResourceStrings.TXT_CHANGE_USER_PASSWORD}} "{{user.name}}"</h2>
    <form action="#" method="post">
        <p class="row">
            <span class="col text-right"> {{g.userResourceStrings.FRM_OLD_PASSWORD}}</span>
            <span class="col"> <input type="password" name="oldpassword"> </span>
        </p>
        <p class="row">
            <span class="col text-right">{{g.userResourceStrings.FRM_NEW_PASSWORD}}</span>
            <span class="col"><input type="password" name="newpassword1"></span>
        </p>
        <p class="row">
            <span class="col text-right">{{g.userResourceStrings.FRM_CONFIRM_NEW_PASSWORD}}</span>
            <span class="col"><input type="password" name="newpassword2"></span>
        </p>
        <div class="row">
            <div class="col d-flex justify-content-center">
                <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
            </div>
        </div>
    </form>

    {{ macros.showBacktoUserListNav() }}
{% endblock %}