{% extends "base.html" %}
{% block title %}Αλλαγή κωδικού χρήστη{% endblock %}
{% block head %}
    {{ super() }}
    <!-- here I can add page-specific resources like css stylesheets -->
{% endblock %}
{% block content %}

    {% if user %} <!-- if the user id exists -->
    <h1>Αλλαγή κωδικού για το χρήστη "{{user.name}}"</h1>
    <form action="#" method="post">
        <p>Παλιός κωδικός: <input type="password" name="oldpassword1"></p>
        <p>Νέος κωδικός: <input type="password" name="newpassword1"></p>
        <p>Νέος κωδικός (επιβεβαίωση): <input type="password" name="newpassword2"></p>
        <input type="submit" value="OK"> </form>

    {% else %}
        <p> Δεν υπάρχει τέτοιος χρήστης </p>
    {% endif %}
    <a href="{{ url_for('users.userList') }}"> Πίσω στη Λίστα χρηστών </a>
{% endblock %}