{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.userResourceStrings.TXT_DELETE_USER}}{% endblock %}
{% block content %}

        <i> {{g.userResourceStrings.TXT_CONFIRM_USER_DELETE%user.name}}</i>
        <form action="#" method="post">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
                </div>
            </div>

        </form>

    {{ macros.showBacktoUserListNav() }}
{% endblock %}