{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}
    {{g.userResourceStrings.TXT_EDIT_USER_CATEGORY}} {{ userCategory.name }}
{% endblock %}

{% block content %}

    <form action="#" method="post">
        <p class="row">
            <label for="id" class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY_ID}}</label>
            <span class="col"><input id="id" type="text" name="id" value="{{ userCategory.id }}" disabled></span>
        </p>
        <p class="row">
            <label for="name" class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY_NAME}}</label>
            <span class="col"><input id="name" type="text" name="name" value="{{ userCategory.name }}"></span>
        </p>
        <div class="row">
            <span class="col d-flex justify-content-center">
                <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
            </span>
        </div>

    </form>

    {{ macros.showBacktoUserCategoryListNav() }}
{% endblock %}