{% extends "base.html" %}
{% block title %}Επεξεργασία χρήστη{% endblock %}
{% block head %}
    {{ super() }}
    <!-- here I can add page-specific resources like css stylesheets -->
{% endblock %}
{% block content %}
    {% if user %} <!-- if the user exists -->
        <h1>Επεξεργασία χρήστη "{{user.name}}"</h1>
        <form action="#" method="post">
            <p> Όνοματεπώνυμο: <input type="text" name="name" value="{{ user.name }}"></p>
            <p> Όνομα χρήστη: <input type="text" name="username" value="{{ user.username }}"></p>
            <p> Υπηρεσία: <input type="text" name="department" value="{{ user.department }}"></p>
            <p> Κατηγορία:
                <select name="usercategory">
                    {%  for cat in userCategories %}
                        {% if user.categoryId == cat.id%} <!-- set the category of the user as selected -->
                            <option value="{{ cat.id }}" selected>{{ cat.name }}</option>
                        {% else %}
                            <option value="{{ cat.id }}" >{{ cat.name }}</option>
                        {% endif %}
                    {%  endfor %}
                </select>
            </p>
            <p> Τηλ: <input type="text" name="phone" value="{{ user.phone }}"></p>
            <p> Κινητό: <input type="text" name="mobile" value="{{ user.mobile }}"></p>
            <p> Email: <input type="text" name="email" value="{{ user.email }}"></p>
            {% if user.enabled == True %} <!-- set the checkbox checked if true -->
                <p> Ενεργός: <input type="checkbox" name="enabled" checked> </p>
            {% else %}
                <p> Ενεργός: <input type="checkbox" name="enabled"> </p>
            {% endif %}
            <input type="submit" value="OK">
        </form>
        <form action="{{url_for('users.changeUserPassword', user_id=user.id)}}" method="get"> <!-- Button for changing the user password -->
            <input type="submit" value="Αλλαγή κωδικού">
        </form>
    {% else %}
        <p> Δεν υπάρχει τέτοιος χρήστης </p>
    {% endif %}

    <a href="{{ url_for('users.userList') }}"> Πίσω στη Λίστα χρηστών </a>
{% endblock %}