{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.userResourceStrings.TXT_EDIT_USER}}{% endblock %}
{% block content %}
        <form action="#" method="post">
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_FULL_NAME}}</span>
                <span class="col"> <input type="text" name="name" value="{{ user.name }}"></span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_USERNAME}}</span>
                <span class="col"><input type="text" name="username" value="{{ user.username }}"></span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_DEPARTMENT}}</span>
                <span class="col"><input type="text" name="department" value="{{ user.department }}"></span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY}}</span>
                <span class="col">{% if g.user.userCategoryId != 3 %}  <!-- if the user isn't super administrator -->
                <span name="usercategory" disabled> <!-- disable the category selection -->
            {% else %}
                <select name="usercategory">
            {% endif %}
                {%  for cat in userCategories %}
                    {% if user.userCategoryId == cat.id%} <!-- select the category of the user -->
                        <option value="{{ cat.id }}" selected>{{ cat.name }}</option>
                    {% else %}
                        <option value="{{ cat.id }}">{{ cat.name }}</option>
                    {% endif %}
                {%  endfor %}
                </select> </span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_PHONE}}</span>
                <span class="col "><input type="text" name="phone" value="{{ user.phone }}"></span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_MOBILE}}</span>
                <span class="col"><input type="text" name="mobile" value="{{ user.mobile }}"></span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_EMAIL}}</span>
                <span class="col"><input type="text" name="email" value="{{ user.email }}"></span>
            </p>
            <p class="row">
                <span class="col text-right">{{g.userResourceStrings.FRM_ENABLED}}</span>
            {% if user.enabled == True %} <!-- set the checkbox checked if true -->
                <span class="col"><input type="checkbox" name="enabled" checked></span>
            {% else %}
                <span class="col"><input type="checkbox" name="enabled"></span>
            {% endif %}
            </p>
            <div class="row">
                <span class="col d-flex justify-content-center">
                    <input type="submit" value="{{g.generalResourceStrings.FRM_SAVE}}">
                </span>
            </div>

        </form>
        <div class="row">
            <div class="col d-flex justify-content-center">
            <form action="{{url_for('users.changeUserPassword', user_id=user.id)}}" method="get"> <!-- Button for changing the user password -->
                <input type="submit" value="{{g.userResourceStrings.FRM_CHANGE_PASSWORD}}">
            </form>
            </div>
        </div>


    {{ macros.showBacktoUserListNav() }}

{% endblock %}