{% extends "base.html" %}
{% block page_title %}{{g.userResourceStrings.TXT_USER_LIST}}{% endblock %}

{% block content %}

    <!-- show column names for the list of users-->
    <div class="row justify-content-center">
        <span class = "col">
            <table class="table">
                 <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{g.userResourceStrings.TXT_FULL_NAME}}</th>
                        <th scope="col">{{g.userResourceStrings.TXT_USERNAME}}</th>
                        <th scope="col">{{g.userResourceStrings.TXT_USER_CATEGORY}}</th>
                        <th scope="col">{{g.userResourceStrings.TXT_EMAIL}}</th>
                        <th scope="col">{{g.generalResourceStrings.TXT_OPERATIONS}}</th>
                    </tr>
                 </thead>
                <tbody>

                {% for user in users %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a class="col-md"
                           href="{{ url_for('users.userDetails', user_id=user.id) }}">
                        {{ user.name }}</a></td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.userCategory.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>
                        <form action="{{ url_for('users.userDetails', user_id=user.id) }}"
                        method="get" class="d-inline">
                            <input type="submit" value="{{g.generalResourceStrings.FRM_VIEW}}"
                            class="btn btn-outline-primary btn-sm"></form>
                        <form action="{{ url_for('users.editUser', user_id=user.id) }}"
                        method="get" class="d-inline">
                            <input type="submit" value="{{g.generalResourceStrings.FRM_EDIT}}"
                            class="btn btn-outline-primary btn-sm"></form>
                        <form action="{{ url_for('users.deleteUser', user_id=user.id) }}"
                        method="get" class="d-inline">
                        <input type="submit" value="{{g.generalResourceStrings.FRM_DELETE}}"
                        class="btn btn-outline-primary btn-sm"></form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
    </div>

    <!-- buttons at the bottom of the screen -->
    <div class="row justify-content-center bottom-buttons align-items-center">
        <span class="col">
            <form class="d-inline" action="{{ url_for('users.addUser') }}" method="get" class="d-inline">
                <input type="submit" value="{{g.userResourceStrings.FRM_ADD_USER}}"
                       class="btn btn-outline-primary">
            </form>

            <form class="d-inline" action="{{ url_for('users.userListPdf') }}" method="get" class="d-inline">
                <input type="submit" value="{{g.userResourceStrings.FRM_PRINT_USERS}}"
                       class="btn btn-outline-primary">
            </form>

            <form class="d-inline" action="{{ url_for('users.userCategories') }}" method="get">
                <input type="submit" value="{{g.userResourceStrings.FRM_USER_CATEGORIES}}"
                class="btn btn-primary"></form>
        </span>
    </div>

{% endblock %}