{% extends "base.html" %}
{% block title %}{{g.userResourceStrings.TXT_USER_LIST}}{% endblock %}
{% block head %}
    {{ super() }}
    <!-- here I can add page-specific resources like css stylesheets -->
{% endblock %}
{% block content %}
    <h1>{{g.userResourceStrings.TXT_USER_LIST}}</h1>
    <form action="{{ url_for('users.addUser') }}" method="get">
        <input type="submit" value="{{g.userResourceStrings.FRM_ADD_USER}}"></form>
    <form action="{{ url_for('users.userCategories') }}" method="get">
        <input type="submit" value="{{g.userResourceStrings.FRM_USER_CATEGORIES}}"></form>

        {% for user in users %} <!-- for each user -->
            <p> <a href="{{ url_for('users.userDetails', user_id=user.id) }}">{{ user.name }}</a>,
                {{ user.username }}, {{ user.department }}, {{ user.categoryDescr }},
                {{ user.email }}</p>
            <form action="{{ url_for('users.userDetails', user_id=user.id) }}"
                  method="get">
                <input type="submit" value="{{g.generalResourceStrings.FRM_VIEW}}"></form>
            <form action="{{ url_for('users.editUser', user_id=user.id) }}"
                  method="get">
                <input type="submit" value="{{g.generalResourceStrings.FRM_EDIT}}"></form>
            <form action="{{ url_for('users.deleteUser', user_id=user.id) }}"
                  method="get">
                <input type="submit" value="{{g.generalResourceStrings.FRM_DELETE}}"></form>
        {% endfor %}

{% endblock %}