{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.userResourceStrings.TXT_USER_INFO}}{% endblock %}

{% block content %}
<div class="col">
    <p class="row">
        <span class="col text-right"> {{g.userResourceStrings.FRM_FULL_NAME}} </span>
        <span class="col"> {{ user.name }} </span>
    </p>
    <p class="row">
        <span class="col text-right">{{g.userResourceStrings.FRM_USERNAME}}</span>
        <span class="col"> {{ user.username }} </span>
    </p>
    <p class="row">
        <span class="col text-right">{{g.userResourceStrings.FRM_DEPARTMENT}}</span>
        <span class="col">{{ user.service.name }}</span>
    </p>
    <p class="row">
        <span class="col text-right">{{g.userResourceStrings.FRM_USER_CATEGORY}}</span>
        <span class="col">{{ user.userCategory.name }}</span>
    </p>
    <p class="row">
        <span class="col text-right">{{g.userResourceStrings.FRM_PHONE}}</span>
        <span class="col">{{ user.phone }}</span>
    </p>
    <p class="row">
        <span class="col text-right">{{g.userResourceStrings.FRM_MOBILE}}</span>
        <span class="col">{{ user.mobile }}</span></p>
    <p class="row">
        <span class="col text-right">{{g.userResourceStrings.FRM_EMAIL}}</span>
        <span class="col">{{ user.email }}</span></p>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <form class="d-inline" action="{{ url_for('users.editUser', user_id=user.id) }}"
                  method="get"><input type="submit" value="{{g.generalResourceStrings.FRM_EDIT}}"></form>
            <form class="d-inline" action="{{ url_for('users.deleteUser', user_id=user.id) }}"
                  method="get"><input type="submit" value="{{g.generalResourceStrings.FRM_DELETE}}"></form>
        </div>
    </div>
    {{ macros.showBacktoUserListNav() }}

</div>

{% endblock %}