{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block page_title %}{{g.userResourceStrings.TXT_USER_CATEGORIES}}{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <span class="col">
            <table class="table">
                <thead>
                    <tr>
                       <th scope="col">#</th>
                        <th scope="col">{{g.userResourceStrings.TXT_USER_CATEGORY_NAME}}</th>
                        <th scope="col">{{g.generalResourceStrings.TXT_OPERATIONS}}</th>
                    </tr>
                </thead>
                <tbody>
                {% for userCategory in userCategories %}
                    <tr>
                        <td>
                            {{userCategory.id}}
                        </td>
                        <td>
                            {{userCategory.name}}
                        </td>
                        <td>
                            <form class="d-inline" action="{{ url_for('users.editUserCategory', user_category_id=userCategory.id) }}" method="get">
                            <input type="submit" value="{{g.generalResourceStrings.FRM_EDIT}}" class="btn btn-outline-primary btn-sm"></form>
                            <form class="d-inline" action="{{ url_for('users.deleteUserCategory', user_category_id=userCategory.id) }}" method="get">
                            <input type="submit" value="{{g.generalResourceStrings.FRM_DELETE}}" class="btn btn-outline-primary btn-sm"></form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </span>
    </div>

    <div class="row">
        <form class="col" action="{{ url_for('users.addUserCategory') }}" method="get">
            <input type="submit" value="{{g.userResourceStrings.FRM_ADD_CATEGORY}}" class="btn btn-outline-primary">
        </form>
    </div>

    {{ macros.showBacktoUserListNav() }}

{% endblock %}